{% extends 'main/base.html' %}

{% block content %}
<h2>&nbsp; Лицензионное соглашение</h2>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Пользователь вправе зарегистрировать не более одной персональной страницы на сайте</li>
  <li class="list-group-item">В случае наличия сомнений в законности осуществления тех или иных действий администрация сайта рекомендует воздержаться от осуществления последних</li>
  <li class="list-group-item">Запрещено использовать социальную сеть с целью поиска должников</li>
  <li class="list-group-item">Не размещать фотографии, на которых помимо пользователя запечатлены другие лица, без их предварительного согласия</li>
  <li class="list-group-item">Вы передаете неисключительные, безвозмездные, сублицензируемые права на любой контент, который вы постите на МиниЧате</li>
  <li class="list-group-item">Вы не можете порочить, преследовать, запугивать, оскорблять, беспокоить, угрожать пользователям сервиса или выдавать себя за другого человека</li>
  <li class="list-group-item">Не выдавайте себя за другое лицо. Например, вы можете свободно пародировать Бенедикта Камбербэтча, шутить над ним или восхищаться его неземной красотой, но вы не можете заявлять, что вы — это он</li>
</ul>
{% endblock %}