{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
{% bootstrap_javascript jquery='full' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2>Правка личных данных пользователя {{  user.username }}</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {{ form.media }}
    <button type="submit" class="btn btn-dark">Сохранить</button>
</form>
<script>
$(function () {
    $("#id_birth_date").datetimepicker({
      format: 'd-m-Y',
    });
  });
</script>
{% endblock %}