{% extends 'main/base.html' %}

{% load bootstrap4 %}
{% block title %}Профиль пользователя{% endblock %}


{% block content %}

<h2>Профиль пользователя {{ user.username }}</h2>
  <div style="display: inline-block">
    <div style="display: inline-block"><a href="{% url 'main:request_friend' %}"><button type="submit" class="btn btn-dark">Запросы {{friends.count}}</button></a></div>
      <div style="display: inline-block"><a href="{% url 'main:list_user' %}"><button type="submit" class="btn btn-dark">Добавить друга</button></a></div>
  </div>
<h3>Ваши друзья</h3>
{% if friends %}
{% for friend in friends %}
<div class="card bg-light mt-3">
  <div class="card-header">
    {{ friend.friend.username }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ friend.user.first_name }}{{ friend.last_name }}</h5>
    <a href="{% url 'main:delete_friend' slug=friend.slug %}" class="btn btn-outline-dark my-2 my-sm-0">Удалить</a>
    <a href="{% url 'main:private_message' pk=friend.friend.pk %}"><button type="submit" class="btn btn-dark">Написать</button></a>
  </div>
</div>
{% endfor %}
{% else %}
<h5>У вас пока нет друзей</h5>
{% endif %}
{% endblock %}