{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}{{ user.username }} - Room{% endblock %}
{% block content %}
{% if correspondences %}
    {% for correspondence in correspondences %}
        {% if correspondence.user1.username == request.user.username %}

                <div class="card mt-3" style="border-radius: 10px">
                    <div class="card-header">
                        {{ correspondence.user2.username }}
                    </div>
                    <div class="card-body" >
                         <h5 class="card-title">{{ correspondence.message_set.all|first }}</h5>
                        <a href="{% url 'main:private_message' pk=correspondence.user2.pk %}"><button type="submit" class="btn btn-dark">Перейти</button></a>
                    </div>
                </div>
        {% elif correspondence.user2.username == request.user.username %}

                <div class="card mt-3" style="border-radius: 10px">
                    <div class="card-header">
                        {{ correspondence.user1.username }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ correspondence.message_set.all|first }}</h5>
                        <a href="{% url 'main:private_message' pk=correspondence.user1.pk %}"><button type="submit" class="btn btn-dark">Перейти</button></a>
                    </div>
                </div>
        {% endif %}
    {% endfor %}
{% else %}
<p>Вы еще ни с кем не переписывались</p>
{% endif %}
{% endblock %}