{% extends 'main/base.html' %}

{% load bootstrap4 %}
{% block title %}Профиль пользователя{% endblock %}


{% block content %}
<h3>Запросы в друзья</h3>
{% if friends %}
{% for friend in friends %}
<div class="card bg-light mt-3">
  <div class="card-header">
    {{ friend.friend.username }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ friend.user.first_name }} {{ friend.user.last_name }}</h5>
    {% if friend.sender != request.user %}<a href="{% url 'main:request_confirm' slug=friend.slug %}" class="btn btn-dark my-2 my-sm-0">Принять</a>
    <a href="{% url 'main:delete_friend' slug=friend.slug %}" class="btn btn-dark my-2 my-sm-0">Отклонить</a>
    {% else %}
    <a href="{% url 'main:delete_friend' slug=friend.slug %}" class="btn btn-dark my-2 my-sm-0">Отменить</a>
    {% endif %}
    <a href="{% url 'main:private_message' pk=friend.friend.pk %}"><button type="submit" class="btn btn-dark">Написать</button></a>
  </div>
</div>
{% endfor %}
{% else %}
<h5>Запросов в друзья нет!</h5>
{% endif %}
{% endblock %}